# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all contents in ptb-xl-dataset folder
ptb-xl-dataset-1.0.3/
